<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div>&copy; 2025 StayNest. All rights reserved.</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy Policy</a> |
      <a href="/terms">Terms of Service</a> |
      <a href="/contact">Contact Us</a>
    </div>
  </div>
</footer>
