<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StayNest</title>
    <%# Link to include Bootstrap CSS %>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <%# Link to include custom CSS %>
    <link rel="stylesheet" href="/css/style.css" />

    <%# Link to include Font Awesome %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <%# Link to include Google Fonts - Roboto (for logo-name font) %>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <%# Link to include Google Fonts - Plus Jakarta Sans (for body font) %>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <%# Link to include Google Fonts - Montserrat & Roboto (for headings on main
    page) %>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />

    <%# Link to include Google Fonts - Inter (for listing title) %>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <%# Link to include Google Fonts - Poppins (for headings) %>
    <link rel="stylesheet" href="/css/rating.css" />
  </head>
  <body>
    <%-include("../includes/navbar.ejs")%>
    <div class="container"><%-include("../includes/flash.ejs")%> <%-body%></div>

    <%-include("../includes/footer.ejs")%> <%# Link to include Bootstrap JS %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
